<!DOCTYPE html>
<html lang="en">
<head>
  <title>Products</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Viable Technologies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="careers">Careers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="investor_relations">Investor Relations</a>
      </li>    
    </ul>
  </div>  
</nav>
<br>
<br>
<br>
<br>
<h1 class="mission"><center>"Keep seeking the things above"</center></h1>
<br>
<hr class="rounded">
<br>
<div class="row">
  <img src="https://scontent.flun1-2.fna.fbcdn.net/v/t1.0-9/91936194_147771920114869_8965181886036967424_n.jpg?_nc_cat=109&ccb=3&_nc_sid=09cbfe&_nc_eui2=AeFIsjvDH6CGzDUFgc-bvT3cFLD3Cs-3YOwUsPcKz7dg7Ksjte5zSePszqI0Azae9vUPPKUC8VxIpu7A0wXQSp--&_nc_ohc=tXd2ElyrzpAAX99xX-8&_nc_ht=scontent.flun1-2.fna&oh=47158b1e771233afc7005b37b843daa9&oe=60531B72" class="img-fluid" 
  height=600px width=600px>
  <img src="https://scontent.flun1-1.fna.fbcdn.net/v/t1.0-9/117335130_194348715457189_6564127648814526900_n.png?_nc_cat=100&ccb=3&_nc_sid=e3f864&_nc_eui2=AeFr4WIBRFSYatiGwy7TQ1aSA1-NZzEWrYIDX41nMRatggj8VZZZpt2FRJVTTcu48AWMwSYizR4Gm1hcgdWr_c9l&_nc_ohc=WmkjO-pXAbEAX_A17Ge&_nc_ht=scontent.flun1-1.fna&oh=8918a578fcab45bb017d2826b10224e2&oe=60536F3D" class="img-fluid" 
  height=600px width=800px>
</div>
<br>
<br>
<br>
<hr class="rounded">
<br>
<br> 
<h1 class="text-center z">We are building and operationally developing high potential digital <br>
    products across various industries. </h1>
    <br>
    <br>
<hr class="rounded">  
<h1><center>Explore our portfolio below</center></h1>
      






<style>
.z {
  font-style: italic;
}
  /* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

 .mission {
  font-style: oblique;
  font-display: initial;
  font-size: 30px;
 }

  .fa {
  padding: 20px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

</style>

</body>

<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: blueviolet;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Social media links -->
          <a href="https://www.facebook.com/ViableZM/" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-google"></a>
          <a href="#" class="fa fa-youtube"></a>
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-linkedin"></a>
          
         

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Viable Technologies</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>We "Keep seeking the things above" by listening to the customers needs and promptly delivering support.
          </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <!--<p>
          <a href="msika.ae">Msika</a>
        </p>
        <p>
          <a href="#!">FoodSecure</a>
        </p>-->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Quick links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Investor Relations</a>
        </p>
        <p>
          <a href="#!">Viable Team</a>
        </p>
        <p>
          <a href="#!">Contact us</a>
        </p>
        
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
       <!--<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 30px;">--> 
        <p>
          <i class="fa fa-home mr-3" style="font-size:27px"></i>Mazabuka, Zambia</p>
        <p>
          <i class="fa fa-envelope mr-3" style="font-size:27px"></i> Viable@gmail.com</p>
        <p>
          <i class="fa fa-phone mr-3" style="font-size:27px"></i> +260972108763</p>
        

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div style= "background-color: darkslateblue;"class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://mdbootstrap.com/"> ViableZM</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


</html>